extends layout

block content
	section.dashboard
		header Chrysalis
		div You've successfully hit the budget dashboard page. Congrats.

		div.sidebar 
			h3.side-bar-item Jan 2018
				a.side-bar-item(href='/transactions') Go to Transactions