extends layout

block content	

	header Chrysalis
	section.faq-main
		p What is Chrysalis?
			p It's a better budget app
		p Who made Chrysalis?
			p Adriel
		p Is my data truly secure?
			p We hope so.