extends homepageLayout

block content
	script(src='../bootstrap/js/jquery.min.js')
	script(src='../bootstrap/js/bootstrap.bundle.min.js')

	script(src='../bootstrap/js/jquery.easing.min.js')

	script(src='../bootstrap/js/grayscale.min.js')

