doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title Chrysalis

		link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Cabin:700', rel='stylesheet', type='text/css')

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
		link(href='stylesheets/bootstrap/styling/grayscale.css', rel='stylesheet')

	body
		block content








//- doctype html
//- html(lang='en')
//- 	head
//- 		meta(charset='utf-8')
//- 		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
//- 		title Chrysalis

//- 		// Bootstrap core CSS
//- 		link(href='../bootstrap/styling/bootstrap.css', rel='stylesheet') 

//- 		// Custom fonts for this template
//- 		link(href='/stylesheets/font-awesome.css', rel='stylesheet', type='text/css')

//- 		link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
//- 		link(href='https://fonts.googleapis.com/css?family=Cabin:700', rel='stylesheet', type='text/css')

//- 		link(href='../bootstrap/styling/grayscale.css', rel='stylesheet')

//- 		script(src='../bootstrap/js/jquery.min.js')
//- 		script(src='../bootstrap/js/bootstrap.bundle.min.js')
//- 		// Plugin JavaScript
//- 		script(src='../bootstrap/js/jquery.easing.min.js')
//- 		//// Custom scripts for this template
//- 		script(src='../bootstrap/js/grayscale.js')

//- 	body
//- 		block content