extends layout

block content
	section.transactions
		header Chrysalis
		div You've successfully hit the transactions page. Congrats.

		div
			h3.side-bar-item Jan 2018
				a.side-bar-item(href='/dashboard') Back to Budget
				a.side-bar-item(href='/upload') Upload some transactions
				p.transactions Questions?
				a.side-bar-item(href='/faq') Go to FAQ.
