extends layout

block content
	.row
		header.col-12
			.brand-heading Chrysalis
		.side-bar.col-3
			div.side-bar-links
				a.side-bar-item(href='/dashboard') Back to Budget
				a.side-bar-item(href='/faq') Questions? Go to FAQ.
		section.upload.col-75
			form(action='/upload', enctype='multipart/form-data', method='post')
				p Choose a file to upload (make sure the file has the standard formatting - if you have questions on this please refer to the FAQ section).
				input#upload-input(type='file', name='csvFile', accept='*.csv')
				input(type='submit', value='Upload Transactions CSV')
