body {
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  text-align: center;
  margin:0px;
  
}

a {
  color: white;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}

header {

  background-color: black; 
  width: 100%;
  top: 0px;
  left: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  z-index: 100;
}

/*
justify-content: asdf;
display: flex;
align-items: asdf;

*/

/************* float styling *******************/
.row {
  
/*  padding-left: 20px;
  padding-right: 20px;*/
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-75, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  /*padding-left: 1.04166666%;*/
  /*padding-right: 1.04166666%;*/
}

/* Mobile defaults */

.col-3, .col-4, .col-6, .col-75, .col-12 {
  width: 100%;
  /*border: 1px solid black;*/
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33333333333%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  .col-75 {
    /*display: flex;*/
    width: 74.2%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}
 /*****************************/

.bold {
  font-weight: 800;
}
.white {
  color: white;
}

.brand-heading {
  box-sizing: border-box;
  display: block;
  text-align: left;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  margin-left: 92px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
 
  white-space: nowrap;
}

.landing {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 80px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: black;
}

.transaction-main { /*defines the main section of the transactions page*/
  margin-top: 60px;
}

select.category-dropdown {
  width: 100px;
}

.transaction-table-category {
  width: 60px;
}

.transactions-table {

  padding: 10px;
  width: 100%;
}

.budget-table {
  
  padding: 10px;
  width: 100%;
}

.main-budget-table-section {
  /*border: black 10px;*/
}

.faq-main {
  text-align: center;
}

.create-bar {
  padding:5px;
  width: 100%;
  background: #662925;
}

.dashboard-main { /*defines the main section of the transactions page*/
  margin-top: 60px;
}

select { 
text-align-last: center; }

.hidden {
  display: none;
}

.logo {
  text-align: center;
  margin-top: 30px;
}

.login {
  text-align: center;
}

.lead {
  font-size: 25px;
  font-weight: bold;
}

.create-new-user {
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
}

.side-bar {
  height: 100vh;
  /*width: 300px;
  position: fixed; /*Stay in place on the scroll*/
  /*z-index: 1; Stay on top*/
  /*left: 0;*/
  /*distance from top is currently defined in section for each page*/
  background-color: black; 
  color: white;
  /*overflow-x:hidden Disables horizontal scroll*/
  /*padding-top: 20px;*/
}



.side-bar-links {
  margin-top:50px;
}

.side-bar-item {
  padding: 6px 8px 6px 16px;
  /*text-decoration: none;*/ /*gets no underline on link*/
  color: white;
  display:block
}
