body {
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  text-align: center;
  
}

a {
  color: #00B7FF;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}

header {
  position: fixed;
  height: 60px;
  background-color: black; 
  width: 100%;
  top: 0px;
  left: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  z-index: 100;
}

.brand-heading {
  box-sizing: border-box;
  display: block;
  text-align: left;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  margin-left: 92px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
 
  white-space: nowrap;
}

.landing {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 80px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: black;
}

.transaction-main { /*defines the main section of the transactions page*/
  margin-top: 60px;
}

select.category-dropdown {
  width: 100px;
}

.transaction-table-category {
  width: 60px;
}

.transactions-table {
  margin-left: 300px;
  padding: 10px;
  width: 100%;
}

.budget-table {
  margin-left: 300px;
  padding: 10px;
  width: 100%;
}

.faq-main {
  margin-top: 60px;
  text-align: left;
}

.create-bar {
  margin-left: 290px;
  width: 100%;
  background: grey;
}

.dashboard-main { /*defines the main section of the transactions page*/
  margin-top: 60px;
}

select { 
text-align-last: center; }

.hidden {
  display: none;
}

.logo {
  text-align: center;
  margin-top: 30px;
}

.login {
  text-align: center;
}

.lead {
  font-size: 25px;
  font-weight: bold;
}

.create-new-user {
  text-align: center;
  font-size: 25px;
}

.side-bar {
  height: 100%;
  width: 300px;
  position: fixed; /*Stay in place on the scroll*/
  z-index: 1; /*Stay on top*/
  left: 0;
  /*distance from top is currently defined in section for each page*/
  background-color: black; /*Black*/
/*  color: white;*/
  overflow-x:hidden /*Disables horizontal scroll*/
  padding-top: 20px;
}

.side-bar-item {
  padding: 6px 8px 6px 16px;
  /*text-decoration: none;*/ /*gets no underline on link*/
  color: white;
  display:block
}
